@keyframes font-pane-loading {
	0% {
		left: 33.33%;
	}

	70% {
		left: 43.33%;
		transform: rotate(0deg);	
	}
	100% {
		left: 43.33%;
		transform: rotate(-25deg); 
	}
}

#font-pane.loading {
	animation-name: font-pane-loading;
	animation-duration: 1.3s;
	animation-timing-function: linear;
	animation-fill-mode:forwards;
}

@keyframes font-pane-moveout {
	0% {
		left:43.33%;
		top:0%;
		transform: rotate(-25deg);
	}
	100% {
		left:66.67%;
		top:-20%;
		transform: rotate(-25deg);
	}
}

#font-pane.moveout {
	animation-name: font-pane-moveout;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}

@keyframes font-pane-movein {
	0% {
		left:66.67%;
		top:-20%;
		transform: rotate(-25deg);
	}
	100% {
		left:43.33%;
		top:0%;
		transform: rotate(-25deg);
	}
}

#font-pane.movein {
	animation-name: font-pane-movein;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes mainmenu-pane-loading {
	0% {
		right: 33.33%;
	}
	70% {
		right: 56.67%;
		transform: rotate(0deg);	
	}
	100% {
		right: 56.67%;
		transform: rotate(-25deg); 
	}
}
#mainmenu-pane.loading {
	animation-name: mainmenu-pane-loading;
	animation-duration: 1.3s;
	animation-timing-function: linear;
	animation-fill-mode:forwards;
}

@keyframes mainmenu-pane-moveout {
	0% {
		top: 0%;
		right: 56.67%;
		transform: rotate(-25deg); 
	}
	100% {
		top: 10%;
		right: 68.33%;
		transform: rotate(-25deg); 
	}
}
#mainmenu-pane.moveout {
	animation-name: mainmenu-pane-moveout;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes mainmenu-pane-movein {
	0% {
		top: 10%;
		right: 68.33%;
		transform: rotate(-25deg); 
	}
	100% {
		top: 0%;
		right: 56.67%;
		transform: rotate(-25deg); 
	}
}
#mainmenu-pane.movein {
	animation-name: mainmenu-pane-movein;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes inner-pane-moveright {
	0% {
		left: 10%;
		transfort:rotate(-25deg);
	}
	30% {
		left: 10%;
		transform:rotate(0deg);
	}
	100% {
		left: 40%;
		transform:rotate(0deg);
	}
}
#inner-pane.moveright {
	animation-name: inner-pane-moveright;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes support-up {
	0% {
		top:101%;
	}
	100% {
		top:70%;
	}
}
#support-pane.support-up {
	animation-name: support-up;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes support-down {
	0% {
		top:70%;
	}
	100% {
		top:101%;
	}
}
#support-pane.support-down {
	animation-name: support-down;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes wrapper-support-up {
	0% {
		top:-100%;
	}
	100% {
		top:-130%;
	}
}

#wrapper.support-up {
	animation-name: wrapper-support-up;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes wrapper-support-down {
	0% {
		top:-130%;
	}
	100% {
		top:-100%;
	}
}

#wrapper.support-down {
	animation-name: wrapper-support-down;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
