@keyframes font-pane-loading {
	0% {
		left: 33.33%;
	}

	70% {
		left: 43.33%;
		transform: rotate(0deg);	
	}
	100% {
		left: 43.33%;
		transform: rotate(-25deg); 
	}
}

#font-pane.loading {
	animation-name: font-pane-loading;
	animation-duration: 1.3s;
	animation-timing-function: linear;
	animation-fill-mode:forwards;
}

@keyframes font-pane-moveout {
	0% {
		left:43.33%;
		top:0%;
		transform: rotate(-25deg);
	}
	100% {
		left:66.67%;
		top:-20%;
		transform: rotate(-25deg);
	}
}

#font-pane.moveout {
	animation-name: font-pane-moveout;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}

@keyframes font-pane-movein {
	0% {
		left:66.67%;
		top:-20%;
		transform: rotate(-25deg);
	}
	100% {
		left:43.33%;
		top:0%;
		transform: rotate(-25deg);
	}
}

#font-pane.movein {
	animation-name: font-pane-movein;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes mainmenu-pane-loading {
	0% {
		right: 33.33%;
	}
	70% {
		right: 56.67%;
		transform: rotate(0deg);	
	}
	100% {
		right: 56.67%;
		transform: rotate(-25deg); 
	}
}
#mainmenu-pane.loading {
	animation-name: mainmenu-pane-loading;
	animation-duration: 1.3s;
	animation-timing-function: linear;
	animation-fill-mode:forwards;
}

@keyframes mainmenu-pane-moveout {
	0% {
		top: 0%;
		right: 56.67%;
		transform: rotate(-25deg); 
	}
	100% {
		top: 10%;
		right: 68.33%;
		transform: rotate(-25deg); 
	}
}
#mainmenu-pane.moveout {
	animation-name: mainmenu-pane-moveout;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes mainmenu-pane-movein {
	0% {
		top: 10%;
		right: 68.33%;
		transform: rotate(-25deg); 
	}
	100% {
		top: 0%;
		right: 56.67%;
		transform: rotate(-25deg); 
	}
}
#mainmenu-pane.movein {
	animation-name: mainmenu-pane-movein;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes content-pane-rotate {
	0% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0);
	}
}
#content-pane.rotate {
	animation-name: content-pane-rotate;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes submenu-pane-rotate {
	0% {
		transform: rotate(-15deg);
	/*	top:15%;*/
	}
	75% {
		transform: rotate(0);
		/*top:15%;*/
	}
	100% {
		transform: rotate(0);
		top:66.67%;
	}
}
#submenu-pane.rotate {
	animation-name: submenu-pane-rotate;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes support {
	0% {
		transform:rotate(0deg);
	}
	80% {
		top:70%;
		transform:rotate(0deg);
	}
	100% {
		top:70%;
		transform:rotate(1.5deg);
	}
}
#support-pane.support {
	animation-name: support;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes wrapper-support-up {
	0% {
		top:-100%;
		transform:rotate(0deg);
	}
	80% {
		top:-130%;
		transform:rotate(0deg);
	}
	100% {
		top:-130%;
		transform:rotate(1.5deg);
	}
}

#wrapper.support-up {
	animation-name: wrapper-support-up;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}
@keyframes wrapper-support-down {
	0% {
		top:-130%;
		transform:rotate(1.5deg);
	}
	20% {
		top:-130%;
		transform:rotate(0deg);
	}
	100% {
		top:-100%;
		transform:rotate(0deg);
	}
}

#wrapper.support-down {
	animation-name: wrapper-support-down;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-fill-mode:forwards;
}