@font-face
{
font-family: HelveticaThin;
src: url('HelveticaNeueCyr-Thin.otf');
}

.pane{
/*	transition: 0.5s ease-out;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;*/
}

#font-pane{
	position:absolute;
	height:300%;
	width:200%;
	top:-100%;
	z-index:2;
	background-color:#f7f7f7;
	transform-origin:0 50%;
	-ms-transform-origin:0 50%; /* IE 9 */
	-moz-transform-origin:0 50%; /* Firefox */
	-webkit-transform-origin:0 50%; /* Safari and Chrome */
	-o-transform-origin:0 50%; /* Opera */	

}
#font-pane img{
	position:absolute;
	left:20px;
	top:47%;
	width:25%;

	
}
#mainmenu-pane{
	position:absolute;
	height:300%;
	width:200%;
	background-color:#e6e6e6	;
	/*box-shadow:2px 2px 3px 3px #ddd;	*/
	z-index:2;
	top:-100%;
	transform-origin:100% 50%;
	-ms-transform-origin:100% 50%; /* IE 9 */
	-moz-transform-origin:100% 50%; /* Firefox */
	-webkit-transform-origin:100% 50%; /* Safari and Chrome */
	-o-transform-origin:100% 50%; /* Opera */	

}

#followlinks{
	z-index:2;
	position:absolute;
	bottom:3px;
	right:3px;
	width:70px;
	height:70px;
}
	
#followlinks img{
	opacity:0.5;
  	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  	filter: gray; /* IE6-9 */
  	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

#followlinks img:hover {
	opacity:1;
  	filter: none;
  	-webkit-filter: grayscale(0%);
	-webkit-transition: -webkit 0.5s ease, color 0.5s ease;
	-moz-transition: background 0.5s ease, color 0.5s ease;
	-o-transition: background 0.5s ease, color 0.5s ease;
	-ms-transition: background 0.5s ease, color 0.5s ease;
	transition: background 0.5s ease, color 0.5s ease;
}
#mainlinks{
	position:absolute;
	top:45%;
	width: 100%;
	right:0;
	list-style-type:none;
	font-family: 'HelveticaThin';
	font-size:350%;
	line-height: 70px;
	text-align:right;
}
#mainlinks ul{
	list-style-type:none;
}

#mainlinks ul li {
	padding-right:10px;
	padding-left:10px;
}
#mainlinks a{
	text-decoration:none;
	color:#777;
}
#mainlinks li{
    	border-left: 27px solid transparent;
    	border-right: 0px solid transparent;
    	height: 0;
		color:#777;
		-webkit-transition: border 0.5s ease, color 0.5s ease;
		-moz-transition: border 0.5s ease, color 0.5s ease;
		-o-transition: border 0.5s ease, color 0.5s ease;
		-ms-transition: border 0.5s ease, color 0.5s ease;
		transition: border 0.5s ease, color 0.5s ease;
}

#mainlinks li:hover{
		-webkit-transition: border 0.5s ease, color 0.5s ease;
		-moz-transition:border 0.5s ease, color 0.5s ease;
		-o-transition: border 0.5s ease, color 0.5s ease;
		-ms-transition:border 0.5s ease, color 0.5s ease;
		transition: border 0.5s ease, color 0.5s ease;
}

#mainlink1{
	border-bottom: 65px solid rgba(221, 24, 31, 0.1);
}
#mainlink1:hover{
	border-bottom: 65px solid #dd181f;
	color:#fff;
}
#mainlink2{
	border-bottom: 65px solid rgba(119, 183, 8, 0.1);
}
#mainlink2:hover{
	border-bottom: 65px solid #77b708;
	color:#fff;
}
#mainlink3{
	border-bottom: 65px solid rgba(111, 21, 46, 0.1);
}
#mainlink3:hover{
	border-bottom: 65px solid #6f152e;
	color:#fff;
}
#mainlink4{
	border-bottom: 65px solid rgba(255, 127, 0, 0.1);
}
#mainlink4:hover{
	border-bottom: 65px solid #ff7f00;
	color:#fff;
}
#mainlink5{
	border-bottom: 65px solid rgba(9, 186, 255, 0.1);
}
#mainlink5:hover{
	border-bottom: 65px solid #09baff;
	color:#fff;
}

#submenu-pane{
	position:absolute;
	height:300%;
	width:200%;
	background-color:#cef;
	top:30%;
	left:-40%;
	z-index:1;
	transform-origin:20% 0;
	-ms-transform-origin:20% 0; /* IE 9 */
	-moz-transform-origin:20% 0; /* Firefox */
	-webkit-transform-origin:20% -38%; /* Safari and Chrome */
	-o-transform-origin:20% 0; /* Opera */
}
#sublinks{
	position:absolute;
	top:20px;
	width:100%;
	left:50%;
	font-size:24px;
}
#content-pane{
	position:absolute;
	height:300%;
	width:200%;
	background-color:#ecf;
	top:-100%;
	left:-40%;
	z-index:0;
	transform-origin:20% 0;
	-ms-transform-origin:20% 0; /* IE 9 */
	-moz-transform-origin:20% 0; /* Firefox */
	-webkit-transform-origin:20% 0; /* Safari and Chrome */
	-o-transform-origin:20% 0; /* Opera */	
}

#heading{
	position:absolute;
	color: #000;
	top:38%;
	left:13%;
	font-size:100px;
	z-index: 3;
	display: block;
}
/*
#content-container{
	position:absolute;
	top:-100%;
	left:100%;
	width:50%;
	height:50%;
	background-color:#000;
}*/
