.pane{
	transition: 0.5s ease-out;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
}

#font-pane{
	position:absolute;
	height:300%;
	width:1920px;
/*	left:30%;*/
	top:-100%;
	z-index:2;
	background-color:#f7f7f7;
	transform-origin:0 540;
	-ms-transform-origin:0 540; /* IE 9 */
	-moz-transform-origin:0 540; /* Firefox */
	-webkit-transform-origin:0 540; /* Safari and Chrome */
	-o-transform-origin:0 540; /* Opera */	

}
#font-pane img{
	position:absolute;
	left:0%;
	top:50%;
	width:30%;

	
}
#mainmenu-pane{
	position:absolute;
	height:300%;
	width:1920px;
	background-color:#ccc	;
	box-shadow:2px 2px 3px 3px #ddd;	
	z-index:2;
/*	right:70%;*/
	top:-100%;
	transform-origin:1920 540;
	-ms-transform-origin:0 0; /* IE 9 */
	-moz-transform-origin:0 0; /* Firefox */
	-webkit-transform-origin:1920 540; /* Safari and Chrome */
	-o-transform-origin:0 0; /* Opera */	

}
#mainlinks{
	position:absolute;
	top:50%;
	right:30px;
	list-style-type:none;
}
#submenu-pane{
	position:absolute;
	height:300%;
	width:200%;
	background-color:#cef;
	top:150%;
	left:-100%;
	z-index:1;
}
#sublinks{
	position:absolute;
	top:20px;
	width:100%;
	left:50%;
	font-size:24px;
}
#content-pane{
	position:absolute;
	height:300%;
	width:200%;
	background-color:#ecf;
	top:-150%;
	left:-100%;
	z-index:0;
}
/*
#heading{
	position:absolute;
	top:100%;
	left:100%;
	font-size:40px;
}
#content-container{
	position:absolute;
	top:-100%;
	left:100%;
	width:50%;
	height:50%;
	background-color:#000;
}*/
