<?php

$host = 'localhost';
$db_name = 'DB_NAME';
$db_user = 'DB_USER';
$db_password = 'DB_PASS';
$start_page = 'signup.php';
$mn_page = 'manager.php';
$pr_page = 'proofreader.php';
$ad_page = 'terminal.php';
$ml_page = 'mail.php';

?>
