<?php

$host = 'localhost';
$db_name = 'magar';
$db_user = 'root';
$db_password = '';
$start_page = 'signup.php';
$mn_page = 'manager.php';
$pr_page = 'proofreader.php';
$ad_page = 'terminal.php';
$ml_page = 'mail.php';

?>