<?php

$host = 'localhost';
$db_name = '<DB Name>';
$db_user = '<DB User>';
$db_password = '<DB Pass>';
$start_page = 'signup.php';
$mn_page = 'manager.php';
$pr_page = 'proofreader.php';
$ad_page = 'terminal.php';
$ml_page = 'mail.php';

?>
